/* Fonts */
@font-face {
    font-weight: normal;
    font-family: "Montserrat";
    font-style: normal;
    src: url("../fonts/montserrat-medium.woff2 ") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
}
@font-face {
    font-weight: bold;
    font-family: "Montserrat";
    font-style: normal;
    src: url("../fonts/montserrat-semibold.woff2 ") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff");
}
@font-face {
    font-weight: lighter;
    font-family: "Montserrat";
    font-style: normal;
    src: url("../fonts/montserrat-light.woff2 ") format("woff2"), url("../fonts/montserrat-light.woff") format("woff");
}

/* GENERAL STYLES */
body {
    min-width: 1366px;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #011C40;  
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.button {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #011C40;
    text-decoration: none;
    text-align: center;
    background-color: #F9FBFD;
    padding: 15px;
}

/* h1-h6 */
h1 {
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    color: #F9FBFD;
}
h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #011C40;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #011C40;
}
h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #F9FBFD;
}

/* HEADER */

.main-header {
    background-color: #003872;
    background-image: url("../img/bg-1.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

/* Navigation layout */
.main-header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 35px;
}

.site-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.site-menu__item {
    margin-left: 30px;
}

.site-menu a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #F9FBFD;
}

/* Intro */
.intro {
    padding-top: 210px;
    padding-bottom: 283px;
}
.intro h1,
.intro p {
    text-align: center;
}
.intro p {
    font-size: 20px;
}
/* Lead-in */
.lead-in__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.lead-in__text {
    width: 512px;
}

/* Advantages */
.advantages {
    border-color: #E3ECF6;
    background-image: url("../img/bg-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}
.advantages h2 {
    text-align: center;
}
.advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
}
.advantages__item {
    position: relative;
    width: 360px;
    display: flex;
    flex-direction: column;
    background-color: #F9FBFD;
    box-sizing: border-box;
    padding: 87px 30px 30px 30px;
    margin-right: 40px;
}

.advantages__item--ship::before {
    position: absolute;
    top: 50px;

    content: "";
    width: 27px;
    height: 32px;
    background-image: url("../img/ship-icon.svg");
    background-repeat: no-repeat;
}
.advantages__item--allincl::before {
    position: absolute;
    top: 50px;

    content: "";
    width: 38px;
    height: 21px;
    background-image: url("../img/ticks-icon.svg");
    background-repeat: no-repeat;
}
.advantages__item--zodiac::before {
    position: absolute;
    top: 50px;

    content: "";
    width: 42px;
    height: 15px;
    background-image: url("../img/zodiac-icon.svg");
    background-repeat: no-repeat;
}

/* Gallery */
.gallery {
    padding-top: 120px;
    padding-bottom: 120px;
}
.gallery h2 {
    text-align: center;
}
.gallery__list {
    display: flex;
    flex-wrap: wrap;
}
.gallery__item {
    width: 260px;
    /*height: 386px;*/
    margin: 15px;
}
.gallery__item figure {
    position: relative;
}
.gallery__item figcaption {
    position: absolute;
    top: 320px;
    left: 30px;
    color: #F9FBFD;
    z-index: 1;
}

/* Text in .gallery */
.gallery__description {
    position: absolute;
    top: 0;
    width: 260px;
    display: flex;
    flex-direction: column;
    background-color: #011C40;
    color: #F9FBFD;
    box-sizing: border-box;
    padding: 35px 25px 35px 25px;
    z-index: 2;

    display: none;
}
.gallery__description h3,
.gallery__description h4,
.gallery__description p {
    color: #F9FBFD;
    margin: 0;
}
.gallery__description p {
    font-size: 14px;
    line-height:  20px;
    color: #D8D8D9;
    padding-bottom: 20px;
}

/* Text on:hover*/
.gallery__item:hover .gallery__description {
    display: flex;
}

/* Booking */
.booking {
    background-image: url("../img/bg-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}
.booking__wrapper {
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding-left: 60px;
   padding-right: 60px;

}
.booking__promo {
    width: 560px;
}

/* Booking FORM */
.booking__data {
    width: 403px;
}
.booking-form {
    background-color: #011C40;
    padding: 50px;
}
.booking-form fieldset {
    display: flex;
    padding: 0;
    border: none;
    flex-direction: column;
}
.booking-form legend {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #F9FBFD;
    padding-bottom: 35px;
}
.booking-form label {
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #F9FBFD;
}

/* FORM Inputs*/
.booking-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    margin-bottom: 20px;
}
.booking-form input::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #011C40;
}
.booking-form button {
    width: 100%;
}

/* Checkbox */
.booking-form__personal-data label {
    position: relative;
    text-align: left;
    margin-left: 16px;
}
/*-- customized box--*/
.booking-form__personal-data label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    display: inline-block;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
  }
   
/*--- customized tick */
.booking-form__personal-data label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -15px;
    display: inline-block;
    height: 5px;
    width: 8px;
    border-left: 1px solid #101A56;;
    border-bottom: 1px solid #101A56;;
    transform: rotate(-45deg);
  }

input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0
}/* hides original checkbox */

input[type="checkbox"]:checked + label::after {
    content: "";
  }/*Unhide the checkmark by default*/

input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
  } /*Adding Chrome-like focus on the fake checkbox*/


/* CONTACTS */
.contacts {
    padding-top: 120px;
    padding-bottom: 120px;
}
.contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contacts__map {
    width: 560px;
}
.contacts__details {
    width: 500px;
}
.contacts__details a {
    position: relative;

    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #011C40;
    margin-left: 30px;
}

a[href^="https"]::before {
    position: absolute;
    content: "";
    left: -25px;
    width: 18px;
    height: 22px;
    background-image: url("../img/pin-icon.svg");
    background-repeat: no-repeat;
}
a[href^="tel:"]::before {
    position: absolute;
    content: "";
    left: -25px;
    width: 18px;
    height: 18px;
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
}

/* FOOTER */
.main-footer {
    background-color: #011C40;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-footer__nav {
    display: flex;
}
/* .site-menu is styled in Header  */
.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    margin-left: auto;
}
.social__item {
    margin-left: 33px;
}

